<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Nasa Picture of the Day<</title>
    <link rel="stylesheet" type="text/style" href="../styles/resets.scss" />
    <link rel="stylesheet" type="text/style" href="../styles/base.scss" />
    <link rel="stylesheet" type="text/style" href="../styles/header.scss" />
    <link rel="stylesheet" type="text/style" href="../styles/form.scss" />
    <link rel="stylesheet" type="text/style" href="../styles/footer.scss" />
  </head>

  <body>
    <header>
      <div class="Nasa Logo">
        <img
          src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png"
          alt="Nasa Logo"
          class="NASALogo"
        />
      </div>
    </header>

    <main>
      <h1>NASA Picture of the Day!</h1>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input id="date" type="date" name="input" value="" />
          <input
            type="submit"
            id="button"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>
      <section>
        <h2>Picture of the Day:</h2>
        <div id="results"></div>
      </section>
      <footer>
        <p>The Nasa Picture of The Day</p>
      </footer>
    </main>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
