h1,
h2 {
  text-align: center;
  color: white;
  margin-left: 1rem;
}

#results {
  color: white;
  h3 {
    text-align: center;
  }
  p {
    line-height: 1.5rem;
  }
  img {
    box-shadow: 7px 6px 27px 4px #252525;
  }
}
